@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@100..900&display=swap');

:root {
    --blanco-fondo: rgba(255, 255, 255, 0.95);
    --negro: #333;
    --naranja:  #FF6B00;
    --naranja-oscuro: #cd4901;
    --overlay:  rgba(0,0,0,0.5);
    --gris: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

header {
    background-color: var(--blanco-fondo);
    color: var(--negro);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--naranja);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color:var(--negro);
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--naranja);
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.hero {
    background-image: url('images/fondo_home.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:var(--overlay);
    z-index: -1;
}

.hero-content {
    max-width: 800px;
    padding: 2rem;
    color: var(--blanco-fondo);
    text-align: center;
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 1px var(--overlay);
}

.hero-content a button {
   width: 240px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: clamp(1rem, 2vw, 1.2rem);
}
.professionals {
   max-width: 1200px;
   margin: 2rem auto;
   padding: 2rem 0;
}

.professionals h2 {
   text-align: center;
   padding: 2rem;
}

.search-filters {
   display: flex;
   justify-content: center;
   gap: 1rem;
   margin-bottom: 2rem;
}

.search-filters select {
   padding: 0.7rem;
   font-size: 3rem;
   border: 1px solid var(--naranja-oscuro);
   border-radius: 4px;
   background-color:var(--naranja);
   cursor: pointer;
}

.search-filters select:focus {
   outline: none;
   border-color: var(--naranja-oscuro);
   background-color: var(--naranja);
}

.search-filters select option {
   background-color: var(--naranja);
}

.cards-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
   gap: 2rem;
   margin: 0 80px;
}

.card {
    border: 1px solid var(--gris);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--blanco-fondo);
    box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.card-image {
    height: 200px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1.5rem;
}

button {
    background-color: var(--naranja);
    color: var(--blanco-fondo);
    font-size: large;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--naranja-oscuro);
    transform: translateY(-2px);
    
}

footer {
    background-color: var(--negro);
    color: var(--blanco-fondo);
    text-align: center;
    padding: 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
}

.footer-section1 {
    text-align: left;
    width: 400px;
}

.footer-section2 {
    text-align: left;
}

.footer-section2 ul {
    list-style-type: none;
}

.footer-bottom {
    margin-top: 25px;
}

hr {
    width: 75%;
    margin: auto;
    border-color: var(--naranja);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    nav ul {
        display: none;
    }
    nav ul.active {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .card {
        margin: auto;
    }
    .professionals {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
   .menu-toggle {
       display: block;
   }
   nav ul {
       display: none;
   }
   nav ul.active {
       display: flex;
       flex-direction: column;
   }
   .search-filters {
       flex-direction: column;
       align-items: center;
   }
   .search-filters select {
       width: 80%;
   }
}
@media (max-width: 768px) {
   .menu-toggle {
       display: block;
   }
   nav ul {
       display: none;
   }
   nav ul.active {
       display: flex;
       flex-direction: column;
   }
   .search-filters {
       flex-direction: column;
       align-items: center;
   }
   .search-filters select {
       width: 80%;
   }
}

@media (max-width: 480px) {
   .card {
       margin: auto;
   }
   .professionals {
       padding: 1rem;
   }
}@media (max-width: 768px) {
   .menu-toggle {
       display: block;
   }
   nav ul {
       display: none;
   }
   nav ul.active {
       display: flex;
       flex-direction: column;
   }
   .search-filters {
       flex-direction: column;
       align-items: center;
   }
   .search-filters select {
       width: 80%;
   }
}

@media (max-width: 480px) {
   .card {
       margin: auto;
   }
   .professionals {
       padding: 1rem;
   }
}